body{
    font-family: 'Noto Sans JP', sans-serif;
    .container{
        overflow-x: hidden;
        width: 100%;
        .title-container{
            width: 100%;
            min-width: 100vw;
            height: 100vh;
            background: url("../img/nagoya_castle.jpg") no-repeat;
            background-size: cover;
            position: relative;
            z-index: -1;

            &::before{
                content: "";
                position: fixed;
                background: inherit;
                filter: blur(10px) saturate(120%);
                top: -25px;
                left: -25px;
                right: -25px;
                bottom: -25px;
            }
            h1{
                position: fixed;
                left: 50%;
                top: 2%;
                transform: translateX(-20%);
                font-size: 8vw;
                width: 100%;
                letter-spacing: 1vw;
                color: white;
                text-shadow: 7px 6px 12px grey;

                span{
                    animation: textUp 0.6s ease forwards;
                    position: absolute;
                    transform: translateY(25vw);
                    @for $i from 1 to 7 {
                        &:nth-child(#{$i}){
                            left: calc(8vw * (#{$i} - 1) + 3vw);
                            animation-delay: calc(0.8s + #{$i} * 0.05s);
                        }
                    }
                }

            }

            
        }

        //main
        .main{
            background-color: #fff24e;
            width: 100%;
            height: auto;
            .discription-container{
                margin-top: 5vw;
                width: 100%;
                overflow: hidden;
                .center{
                    text-align: center;
                    overflow: visible;
                    h2{
                        padding-top: 4vw;
                        font-size: unquote("min(4rem, 7vw)");
                        letter-spacing: 5px;
                        position: relative;
                       

                        &::before{
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 20vw;
                            height: 2px;
                            background-color: grey;
                            transition: width 0.6s 0.5s ease;
                        }

                        &.smoothed{
                            &::before{
                                content: "";
                                width: 80vw;
                            }
                        }
                    }

                    @for $i from 2 to 10 {
                        &:nth-child(#{$i}){
                            margin-top: 6vw;
                        }
                    }

                    &:nth-child(1){
                        margin-top: 3vw;
                    }
                }

                .discription-p{
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    overflow: visible;

                    .discription-inline{
                        width: 80%;

                        p{
                            font-size: unquote("min(2rem, 3.5vw)");
                            font-weight: 200;
                        }
                    }

                    &:last-child{
                        margin-bottom: 3rem;
                    }
                }

            }
        }
    }

    .scroll-top{
        position: fixed;
        bottom: 2%;
        right: 3%;
        width: 10%;
        height: 10vw;
        max-width: 70px;
        max-height: 70px;
        cursor: pointer;

        &::after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-top: 2px solid grey;
            border-left: 2px solid grey;
            transform: rotate(45deg);
            animation: topanime 0.8s ease infinite;
        }   
        &::before{
            content: "TOP";
            position: absolute;
            left: 50%;
            top: 80%;
            transform: translate(-50%, -80%);
            
        }
    }

    .return-top{
        position: fixed;
        overflow: hidden;
        top: -50%;
        left: 2%;
        width: 20%;
        min-width: 80px;
        height: 10vh;
        background-color: white;
        border-radius: 25vh;
        text-align: center;
        cursor: pointer;
        animation: btnanime 0.3s ease forwards;
        animation-delay: 2s;

        transition: all 0.3s ease;

        .ja{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: unquote("min(2rem, 5vw)");
            transition: all 0.3s ease;
            
            &::before{
                content: "";
                position: absolute;
                bottom: 0;
                left: -20%;
                width: 140%;
                height: 2px;
                background-color: grey;
            }
        }
        .en{
            position: absolute;
            top: 150%;
            left: 50%;
            transform: translateX(-50%);
            font-size: unquote("min(2rem, 25px)");
            transition: all 0.3s ease;
            &::before{
                content: "";
                position: absolute;
                bottom: 0;
                left: -20%;
                width: 140%;
                height: 2px;
                background-color: grey;
            }
        }

        &:hover{
            box-shadow: 0 0 5px grey inset;
            .ja{
                top: -50%;
            }
            .en{
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }

    }
}

@keyframes textUp {
    0%{
        transform: translateY(25vw);
    }
    5%{
        transform: translateY(28vw);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes topanime {
    0%{
        transform: translateY(0) rotate(45deg);
    }
    50%{
        transform: translateY(-20%) rotate(45deg);
    }
    100%{
        transform: translateY(0) rotate(45deg);
    }
}

@keyframes btnanime {
    0%{
        top: -50%;
    }
    100%{
        top: 2%;
    }
}